* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

table{
    width: 100%;
}
th, td{
    border: 2px solid black;
    border-collapse: collapse;
    background: #C8E3D4;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: url("../imagenes/back.png");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: rgb(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    height: auto;
}

.margen-menu {
    padding: 0 50px;
}

.margen-interno {
    padding: 0 50px;
}

.logo a {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}

.logo a:hover {
    color: #7E7474;
}

.titulo {
    text-align: center;
    flex: 0.92 1 auto;
}

.titulo h1 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 30px;
    letter-spacing: 2px;
}

.usuario a{
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: end;
}

.tabla {
    height: 450px;
    padding: 100px 0px;
    text-align: center;
}